body {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

ul {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

li {
    margin-left: 30px;
    list-style: none;
}

li:nth-child(2) {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#google-name {
    font-weight: 900;
    font-size: 70px;
    margin-top: 150px;
    margin-bottom: 40px;
}

span:nth-child(1), span:nth-child(4) {
    color: #4285f4;
}

span:nth-child(2), span:nth-child(6) {
    color: #ea4335;
}

span:nth-child(3) {
    color: #fbbc05;
}

span:nth-child(5) {
    color: #34a853;
}

#search-bar {
    width: 40%;
    height: 45px;
    margin: 0 auto;
    position: relative;

}

#search-bar input {
    width: 90%;
    height: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(156, 156, 156);
    border: none;
    padding-left: 40px;
}

#search-bar div{
    position: absolute;
    height: 39px;
    left: 45px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 14px;
    color: rgb(156, 156, 156);

}


#search-bar button {
    position: absolute;
    height: 39px;
    right: 48px;
    background: transparent;
    border: none;
    color: #4285f4;
    padding-top: 6px;
    font-size: 18px;
        
}
